<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="usernavbar" class="background-violet">
    <header>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="navbar-fixed">
                        <nav class="nav-extended background-violet">
                            <div class="nav-wrapper side-padding">
                                <a th:href="@{/}" href="#" class="brand-logo left no-margin"><i class="material-icons">pets</i></a>
                                <a th:href="@{/gestor}" href="#" class="brand-logo center">Gestor</a>
                                <a href="#" class="sidenav-trigger side-padding" data-target="mobile-navbar">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="right hide-on-med-and-down">
                                    <li><span class="side-padding" th:text="${loggedUser.a_primer_nombre}">[[${#httpServletRequest.remoteUser}]]</span>
                                    </li>
                                    <li><i class="material-icons">chevron_right</i></li>
                                    <li><a th:href="@{/logout}" href="#">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                            <div class="nav-content center-align">
                                <ul class="tabs tabs-transparent">
                                    <li class="tab"><a th:href="${'/gestor/profile/' + #httpServletRequest.remoteUser}"
                                                       href="#">Mis datos</a></li>
                                    <li class="tab"><a href="#" th:href="@{/gestor/jornadas/ester}">Jornadas</a></li>
                                    <li class="tab disabled"><a href="#"> <!--th:href="@{/gestor/calendario}"-->
                                        Calendario (próximamente)</a></li>
                                    <li class="tab"><a class="dropdawn dropdown-trigger hide-on-med-and-down" href="#!"
                                                       data-target="dropdown-listas">Listas<i
                                            class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                    <li class="tab"><a th:href="@{/gestor/searchUser}" href="#">Buscar</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <ul id="dropdown-listas" class="background-violet dropdown-content drop-position-fixed">
                        <li class="top-padding"><a class="text-center" th:href="@{/gestor/particular-list}" href="#">Particulares</a>
                        </li>
                        <li class="top-padding"><a class="text-center" th:href="@{/gestor/vet-list}" href="#">Veterinarios</a>
                        </li>
                        <li class="top-padding"><a class="text-center" th:href="@{/gestor/gestor-list}" href="#">Gestores</a>
                        </li>
                    </ul>
                    <div class="container no-padding no-margin sidenav background-grey-1" id="mobile-navbar">
                        <div class="row side-padding">
                            <div class="col s12">
                                <ul>
                                    <li><span class="side-padding flow-text" th:text="${loggedUser.a_primer_nombre}">[[${#httpServletRequest.remoteUser}]]</span>
                                    </li>
                                    <li class="divider grey darken-3"></li>
                                    <li class=""><a th:href="@{/gestor/particular-list}" href="#">Particulares</a></li>
                                    <li class=""><a th:href="@{/gestor/vet-list}" href="#">Veterinarios</a></li>
                                    <li class=""><a th:href="@{/gestor/gestor-list}" href="#">Gestores</a></li>
                                    <li><a th:href="@{/logout}" href="#">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>