<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel = "stylesheet" href = "/CSS/ssPagPrinc.css" th:href="@{/CSS/ssPagPrinc.css}">

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/CSS/stylesheet.css" rel="stylesheet"
          th:href="@{/CSS/stylesheet.css}">


</head>
<body>
</body>
</html>