<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="mainnavbar">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <nav class="background-violet">
                    <div class="nav-wrapper side-padding">
                        <a th:href="@{/}" href="#" class="brand-logo"><i class="material-icons">pets</i><span class="title-navbar">UNa Huella</span></a>
                        <a href="#" class="sidenav-trigger" data-target="mobile-navbar">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li class="disabled"><a href="#"> <!--th:href="@{/info}"-->Info (próximamente)</a></li>
                            <li class="disabled"><a href="#"> <!--th:href="@{/contacto}"-->Contacto (próximamente)</a></li>
                            <li class="disabled"><a href="#"> <!--th:href="@{/calendario}"-->Calendario (próximamente)</a></li>
                        </ul>
                    </div>
                </nav>
                <ul class="sidenav background-grey-1" id="mobile-navbar">
                    <li><a href="#"> <!--th:href="@{/info}"-->Info (próximamente)</a></li>
                    <li><a href="#"> <!--th:href="@{/contacto}"-->Contacto (próximamente)</a></li>
                    <li><a href="#"> <!--th:href="@{/calendario}"-->Calendario (próximamente)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>