<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="headers/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div class="container">
            <div th:fragment="header">
                <nav class="navbar navbar-default nav-wrapper">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <!--a class="navbar-brand brand-logo" href="#" th:href="@{/}">Home</a-->
                            <ul class="list-inline nav navbar-nav right">
                                <li><a href="#" th:href="@{/}">Home</a></li>
                                <li><a href="#" th:href="@{/particulares}">Particulares</a></li>
                                <li><a href="#" th:href="@{/particular/new}">Registrar Particular</a></li>
                                <li><a href="#" th:href="@{/particular/buscar}">Buscar Particular</a></li>
                                <li><a href="#" th:href="@{/login}">Iniciar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>