<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Asignación de cita</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 no-padding">
            <form class="card-panel no-margin background-grey-2">
                <div class="row no-margin">
                    <div class="col s12 m8 offset-m2">
                        <div class="input-field">
                            <!--                            <i class="material-icons prefix">looks_one</i>-->
                            <select>
                                <option value="" disabled selected>Selecciona a tu mascota</option>
                                <option value="1">GuauGuau</option>
                                <option value="2">Mishi</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col s12 m8 offset-m2">
                        <div class="input-field">
                            <!--                            <i class="material-icons prefix">looks_two</i>-->
                            <select>
                                <option value="" disabled selected>Selecciona un servicio</option>
                                <option value="1">Vacunación</option>
                                <option value="2">Esterilización</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col s12 m8 offset-m2">
                        <div class="input-field">
                            <!--                            <i class="material-icons prefix">looks_3</i>-->
                            <input type="text" class="datepicker" placeholder="Seleccione una fecha">
                        </div>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col s12 m8 offset-m2">
                        <div class="input-field">
                            <!--                            <i class="material-icons prefix">looks_4</i>-->
                            <select>
                                <option value="" disabled selected>Selecciona una hora</option>
                                <option value="1">9:00</option>
                                <option value="2">9:10</option>
                                <option value="2">10:20</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row top-margin">
                    <div class="col s12 m12 center-align">
                        <button class="btn-large background-blue waves-effect waves-mediumpurple"
                                type="submit" name="action">Asignar cita
                            <i class="material-icons left">add_circle_outline</i>
                        </button>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col s12 m12 center-align bottom-margin">
                        <button class="btn-large background-blue waves-effect
                                        waves-mediumpurple">Cancelar cita
                            <i class="material-icons left">highlight_off</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>