<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Asignación de cita</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->
<main>
    <div class="container top-padding-intermediate bottom-padding-intermediate">
        <div class="row">
            <div class="col s12 m8 offset-m2 no-padding">
                <form class="card-panel no-margin background-grey-2" th:object="${cita}"
                      th:action="@{/particular/saveCita}" method="post">
                    <div class="row no-margin">
                        <div class="col s12 m8 offset-m2">
                            <div class="input-field">
                                <i class="material-icons prefix">looks_one</i>
                                <select id="mascotaSelect" th:field="${cita.a_id_mascota}">
                                    <option value="" disabled selected>Selecciona a tu mascota</option>
                                    <option th:each="mascota : ${mascotas}" th:value="${mascota.id_mascota}"
                                            th:text="${mascota.b_nombre_mascota}"></option>
                                </select>
                                <label for="mascotaSelect">Mascota</label>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col s12 m8 offset-m2">
                            <div class="input-field">
                                <i class="material-icons prefix">looks_two</i>
                                <select id="servicioSelect" th:field="${cita.d_especificacion_cita}">
                                    <option value="" disabled selected>Selecciona un servicio</option>
                                    <option th:value="'vacunación'">Vacunación</option>
                                    <option th:value="'esterilización'">Esterilización</option>
                                </select>
                                <label for="servicioSelect">Servicio</label>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col s12 m8 offset-m2">
                            <div class="input-field">
                                <i class="material-icons prefix">looks_3</i>
                                <select id="fechaCita" th:field="${cita.b_id_jornada}">
                                    <option value="" disabled selected>Seleccione una jornada</option>
                                    <option th:each="jornada : ${jornadas}" th:value="${jornada.id_jornada}"
                                            th:text="${jornada.b_fecha_jornada}"></option>
                                </select>
                                <label for="fechaCita">Fecha</label>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col s12 m8 offset-m2">
                            <div class="input-field">
                                <i class="material-icons prefix">looks_4</i>
                                <select id="citasSelect" th:field="${cita.c_hora_cita}">
                                    <option value="" disabled selected>Selecciona una hora</option>
                                    <option th:each="citalibre : ${citasLibres}" th:value="${citalibre.c_hora_cita}"
                                            th:text="${citalibre.c_hora_cita}"></option>
                                </select>
                                <label for="citasSelect">Hora</label>
                            </div>
                        </div>
                    </div>

                    <div th:if="${citasLibres != null}">
                        <div class="row top-margin">
                            <div class="col s12 m12 center-align">
                                <button class="btn-large background-blue waves-effect waves-mediumpurple"
                                        type="submit">Asignar cita
                                    <i class="material-icons left">add_circle_outline</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${citasLibres != null}">
                        <div class="row top-margin">
                            <div class="col s12 m12 center-align">
                                <div class="materialert error">
                                    <div class="material-icons">error_outline</div>
                                    <span>No hay citas disponibles</span>
                                </div>
                                <button disabled class="btn-large background-blue waves-effect waves-mediumpurple">Asignar cita
                                    <i class="material-icons left">add_circle_outline</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col s12 m12 center-align bottom-margin">
                            <button class="btn-large background-blue waves-effect waves-mediumpurple"
                                    type="reset">Cancelar cita
                                <i class="material-icons left">highlight_off</i>
                            </button>
                        </div>
                    </div>

                    <div th:if="${formErrorMessage}">
                        <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <span th:text="${formErrorMessage}">Error Message</span>
                        </div>
                    </div>
                    <div th:if="${citaCreated}">
                        <div class="materialert success">
                            <div class="material-icons">check</div>
                            <span th:text="'Cita agendada'">cita eliminada/actualizado</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!--/*/ <th:block th:include="headers/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>