<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Cirugías pendientes</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="headers/veterinarionavbar :: usernavbar"></th:block> /*/-->
<main>
    <div class="container background-grey-2">
        <div th:if="${jornada != null}">
            <div class="row">
                <div class="column s12 m4"></div>
                <div th:each="jornada : ${listaJornadas}">
                    <div class="card-panel padding background-dark-grey">
                        <div class="row">
                            <div class="col s12 center-align">
                                <a th:href="${'/vet/cirugias/' + #httpServletRequest.remoteUser}"
                                   th:text="${jornada.b_fecha_jornada}"
                                   class="waves-effect waves-mediumpurple btn-flat">
                                    <i class="material-icons right">keyboard_arrow_right</i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m8">
                    <div class="card-panel background-grey-2">
                        <div class="row">
                            <form th:object="${jornada}" method="post" class="padding">
                                <div class="row center-align">
                                    <h3 th:text="${jornada.b_fecha_jornada}"></h3>
                                </div>

                                <table class="striped centered responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Nombre</th>
                                        <th>Historial clinico</th>
                                        <th>Procedimiento</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="cita : ${listaCitas}">
                                        <td th:if="${cita != null}" th:text="${cita.a_fecha_cita}"></td>
                                        <td th:if="${cita != null}" th:text="${cita.a_id_mascota.b_nombre_mascota}"></td>
                                        <td th:if="${cita != null}" th:text="${cita.a_id_mascota.f_historial_cirugias}"></td>
                                        <td th:if="${cita != null}" th:text="${cita.b_especificacion_cita}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${jornada == null}">
            <div class="row top-margin">
                <div class="col s12 no-padding">
                    <div class="card-panel no-margin background-grey-2">
                        <div class="row">
                            <div class="col s4 offset-s4 m2 offset-m5">
                                <img class="responsive-img" th:src="@{/images/catX.png}">
                            </div>
                        </div>
                        <h3 class="flow-text center-align"> Lo sentimos. No participas en ninguna jornada por el momento.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!--/*/ <th:block th:include="headers/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>