<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella API</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body class="background-grey-1">
<!--/*/ <th:block th:include="headers/lobbynavigation :: mainnavbar"></th:block> /*/-->


<div class="container background-grey-2">

    <h1 class="text-center">Bienvenido UNa Huella Launcher</h1>

    <h2>Holi :3</h2>
</div>

<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>