<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="es">

        <title>UNa Huella API</title>

        <!--/*/ <th:block th:include="headers/headerinc :: head"></th:block> /*/-->

    </head>

    <body>

        <div class="container">
            
            <!--/*/ <th:block th:include="headers/navbarheader :: header"></th:block> /*/-->

            <h1 class="centrado">Bienvenido UNa Huella Launcher</h1>

            <h2>Holi :3</h2>
        </div>

    </body>
</html>