<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Registro de mascotas</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col s12 no-padding">
            <div class="card-panel background-grey-2">
                <form class="padding">
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s12 m4">
                                <label>Nombre de tu mascota</label>
                                <input class="validate" type="text">
                            </div>

                            <div class="input-field col s12 m4">
                                <label>Edad</label>
                                <input class="validate" type="text">
                            </div>

                            <div class="input-field col s12 m4">
                                <label>Carnet de vacunación</label>
                                <input class="validate" type="text">
                            </div>

                            <div class="input-field col s12 m12">
                                <textarea id="historial" placeholder = "Si no presenta ninguna cirugía, puede dejar éste campo vacío"
                                          class="materialize-textarea" data-length="120"></textarea>
                                <label for="historial">Historial de cirugías</label>
                            </div>

                            <div class="input-field col s12 m4">
                                <select>
                                    <option value="" disabled selected>Género</option>
                                    <option value="1">F</option>
                                    <option value="2">M</option>
                                </select>
                            </div>

                            <div class="input-field col s12 m4">
                                <select>
                                    <option value="" disabled selected>Especie</option>
                                    <option value="1">P</option>
                                    <option value="2">G</option>
                                </select>
                            </div>

                            <div class="input-field col s12 m4">
                                <select>
                                    <option value="" disabled selected>Portador de parásito</option>
                                    <option value="1">Ehrlichia canis</option>
                                    <option value="2">Toxoplasma gondii</option>
                                </select>
                            </div>

                            <div class="row no-margin">
                                <div class="col s12 m12 center-align top-margin bottom-margin">
                                    <button class="btn-large background-blue waves-effect waves-mediumpurple"
                                            type="submit" name="action">Registrar Mascota
                                    <i class="material-icons left">add_circle_outline</i>
                                </div>
                                <div class="col s12 m12 center-align">
                                    <button class="btn-large background-blue waves-effect
                                        waves-mediumpurple">Cancelar registro<i class="material-icons left">highlight_off</i>
                                </div>
                            </div>

                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>