<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Registro de mascotas</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->

<main>
    <div class="container top-padding-intermediate bottom-padding-intermediate">
        <div class="row">
            <div class="col s12 no-padding">
                <div class="card-panel no-margin background-grey-2">
                    <form th:object="${mascota}" th:action="@{/particular/saveMascota}" method="post">
                        <input type="hidden" th:field="${mascota.id_mascota}">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label>Nombre de tu mascota: </label>
                                    <input autofocus class="validate" type="text" id="nombre_mascota"
                                           th:field="${mascota.b_nombre_mascota}"/>
                                    <span class="helper-text materialert error"
                                          th:if="${#fields.hasErrors('b_nombre_mascota')}"
                                          th:errors="*{b_nombre_mascota}">Mascota Error</span>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label>Raza: </label>
                                    <input class="validate" type="text" id="raza_mascota"
                                           th:field="${mascota.d_raza}"/>
                                    <span class="helper-text materialert error" th:if="${#fields.hasErrors('d_raza')}"
                                          th:errors="*{d_raza}">Mascota Error</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label>Edad</label>
                                    <input th:field="${mascota.e_edad_mascota}" id="edadMascota" type="number"
                                           class="validate">
                                    <span class="helper-text" data-error="Error" data-success="right">La edad de tu
                                            mascota debes ingresarla en meses</span>
                                    <span class="helper-text materialert error" th:if="${#fields.hasErrors('e_edad_mascota')}"
                                          th:errors="*{e_edad_mascota}">Mascota Error</span>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label>Carnet de vacunación</label>
                                    <input th:field="${mascota.h_carnet_vacunacion}" id="carnetMascota"
                                           type="text" class="validate">
                                    <span class="helper-text materialert error" th:if="${#fields.hasErrors('h_carnet_vacunacion')}"
                                          th:errors="*{h_carnet_vacunacion}">Mascota Error</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                <textarea th:field="${mascota.f_historial_cirugias}" id="historialMacota"
                                          class="materialize-textarea"></textarea>
                                    <label for="historialMacota">Historial de cirugías</label>
                                    <span class="helper-text materialert error" th:if="${#fields.hasErrors('f_historial_cirugias')}"
                                          th:errors="*{f_historial_cirugias}">Mascota Error</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m4">
                                <div class="input-field">
                                    <select th:field="${mascota.c_genero}">
                                        <option value="" disabled selected>Género:</option>
                                        <option value="H">Hembra</option>
                                        <option value="M">Macho</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="input-field">
                                    <select th:field="${mascota.a_especie}">
                                        <option value="" disabled selected>Especie:</option>
                                        <option value="P">Perro</option>
                                        <option value="G">Gato</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col s12 m4">
                                <div class="input-field">
                                    <select th:field="${mascota.g_portador_parasito}">
                                        <option value="Parásito" disabled selected>Parásito:</option>
                                        <option value="Ninguno">Ninguno</option>
                                        <option value="Ehrlichia canis">Ehrlichia canis</option>
                                        <option value="Toxoplasma gondii">Toxoplasma gondii</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row center">
                            <div class="top-margin bottom-margin">
                                <button class="btn-large background-blue waves-effect waves-mediumpurple"
                                        type="submit" name="action">Registrar Mascota
                                    <i class="material-icons left">add_circle_outline</i>
                                </button>
                            </div>
                        </div>

                        <div class="row center">
                            <button class="btn-large background-blue waves-effect
                                        waves-mediumpurple">Cancelar registro<i class="material-icons left">highlight_off</i>
                            </button>
                        </div>

                    </form>

                    <div th:if="${formErrorMessage}">
                        <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <span th:text="${formErrorMessage}">Error Message</span>
                        </div>
                    </div>

                    <div th:if="${petCreated}">
                        <div class="materialert success">
                            <div class="material-icons">check</div>
                            <span>Mascota actualizada</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<!--/*/ <th:block th:include="headers/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>