<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>
<body class="background-grey-1">
<!--/*/ <th:block th:include="headers/lobbynavigation :: mainnavbar"></th:block> /*/-->
<div class="container">
    <header class="padding">
        <div class="col s1 vertical-margin">
            <a class="btn background-violet" href="#" th:href="@{/}">Atrás</a>
        </div>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel no-margin background-grey-2">
                <form class="padding" th:action="@{/login}" method="post">
                    <div>
                        <h3 class="flow-text">[[${#httpServletRequest.remoteUser}]]</h3>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label class="flow-text" for="documento">Número de Documento</label>
                                <input id="documento" name="username" class="validate" type="text" placeholder="Documento">
                            </div>
                            <div class="input-field">
                                <label class="flow-text" for="contraseña">Contraseña</label>
                                <input id="contraseña" name="password" class="validate" type="password" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                    <button class="btn background-violet" type="submit" name="action">Login</button>
                </form>

                <div th:if="${param.logout}">
                    <div class="materialert success">
                        <div class="material-icons">check</div>
                        <span th:text="'Has cerrado sesión'">Success Message</span>
                    </div>
                </div>
                <div th:if="${param.error}">
                    <div class="materialert error">
                        <div class="material-icons">error_outline</div>
                        <span th:text="'nombre de usuario y/o contraseña invalidos'">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>