<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Asignación de cita</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->
<div class="container no-margin">
    <div class="row no-margin">

        <div class="col s4 no-padding">
            <div class="card-panel no-margin background-dark-grey">
                <div class="row no-margin">
                    <div class="col s12 center-align">
                        <a class="waves-effect waves-mediumpurple btn-flat ">
                            <i class="material-icons right">keyboard_arrow_right</i>GuauGuau</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s8">
            <div class="card-panel no-margin background-grey-2">
                <div class="row center-align">
                    <h3> GuauGuau </h3>
                </div>
                <div class="row">
                    <form class="padding">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label for="carnetMascota">Carnet de vacunación:</label>
                                    <i class="material-icons prefix">pets</i>
                                    <input disabled value="1514584185" id="carnetMascota" type="text" class="validate">
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label for="edadMascota">Edad:</label>
                                    <i class="material-icons prefix">pets</i>
                                    <input disabled value="8 meses" id="edadMascota" type="text" class="validate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m12">
                                <textarea disabled id="historialMacota" class="materialize-textarea"></textarea>
                                <label for="historialMacota">Historial de cirugías</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m4">
                                <select disabled>
                                    <option value="" disabled selected>Género</option>
                                    <option value="1">F</option>
                                    <option value="2">M</option>
                                </select>
                            </div>

                            <div class="input-field col s12 m4">
                                <select disabled>
                                    <option value="" disabled selected>Especie</option>
                                    <option value="1">P</option>
                                    <option value="2">G</option>
                                </select>
                            </div>

                            <div class="input-field col s12 m4">
                                <select disabled>
                                    <option value="" disabled selected>Portador de parásito</option>
                                    <option value="1">Ehrlichia canis</option>
                                    <option value="2">Toxoplasma gondii</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 top-margin center-align">
                                <a class="background-blue waves-effect waves-light btn-small">
                                    <i class="material-icons left">create</i>Editar datos</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>