<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Pagina Principal - UNaHuella</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>
<body>
<div class="container center">
    <div class="row">
        <div class="col s12">
            <header>
                <hgroup>
                    <div class="logo">
                        <img src="images/UNpaw1.png">
                    </div>
                </hgroup>
            </header>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col s12 m8 offset-m2 no-margin">
            <div class="row no-margin">
                <div class="col s12 m4">
                    <div class="card-panel background-violet center-align">
                        <div>
                            <img class="responsive-img" src="images/userpaw1.png">
                        </div>
                        <div>
                            <a  class="btn background-blue waves-effect waves-red">Particular</a>
                        </div>

                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card-panel background-violet center-align">
                        <div>
                            <img class="responsive-img" src="images/vet2.png">
                        </div>

                        <div>
                            <a class="background-blue waves-effect waves-light center-align btn">Veterinario</a>
                        </div>

                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card-panel background-violet center-align">
                        <div>
                            <img class="responsive-img" src="images/gestor.png">
                        </div>
                        <div>
                            <a class="background-blue waves-effect waves-light btn">Gestor</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>