<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="es">
        <title>UNa Huella API</title>
        
        <!--/*/ <th:block th:include="headers/headerinc :: head"></th:block> /*/-->
        
    </head>
    <body>
        <div class="container">
            <!--/*/ <th:block th:include="headers/navbarheader :: header"></th:block> /*/-->
            
            <h2>Particulares</h2>
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Particular Id:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.id_particular}">Product Id</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Primer Nombre:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getPrimer_nombre_particular()}">Primer Nombre</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Segundo Nombre:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getSegundo_nombre_particular()}">Segundo Nombre</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Primer Apellido:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getPrimer_apellido_particular()}">Primer Apellido</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Segundo Apellido::</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getSegundo_apellido_particular()}">Segundo Apellido</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getDireccion_particular()}">Dirección</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefono:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getTelefono_particular()}">Telefono</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">e-mail:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getCorreo_particular()}">e-mail</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"># Mascotas:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getCantidad_mascotas_inscritas()}"># Mascotas</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Estrato:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${particular.getEstrato()}">Estrato</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>