<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

    <title>UNa Huella - Lista Particulares</title>

    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->

</head>
<body class="background-grey-1">
<!--/*/ <th:block th:include="headers/gestornavbar :: usernavbar"></th:block> /*/-->
<div class="container top-padding">
    <div th:if="${pagina != null}">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title flow-text bottom-padding">Particulares Registrados</h2>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Consultar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="particular : ${pagina}">
                        <td th:if="${particular != null}" th:text="${particular.id_particular}"></td>
                        <td th:if="${particular != null}"
                            th:text="${particular.getA_primer_nombre_particular() + ' ' + particular.getE_segundo_nombre_particular()}"></td>
                        <td th:if="${particular != null}"
                            th:text="${particular.getB_primer_apellido_particular()+' '+particular.getF_segundo_apellido_particular()}"></td>
                        <td th:if="${particular != null}" class="center">
                            <a th:href="${'/particular/profile/' + particular.id_particular}">
                                <i class="material-icons">visibility</i>
                            </a>
                        </td>
                        <td th:if="${particular != null}" class="center">
                            <a th:href="${'/particular/edit/' + particular.id_particular}">
                                <i class="material-icons">create</i>
                            </a>
                        </td>
                        <td th:if="${particular != null}" class="center">
                            <a th:href="${'/particular/delete/' + particular.id_particular}">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class="top-padding">
                    <ul class="pagination">
                        <div th:if="${prev == null}">
                            <li class="disabled">
                                <a th:href="${ '/particulares/previous'}"><i class="material-icons left">chevron_left</i>Anterior</a>
                            </li>
                            <li>
                                <a th:href="${ '/particulares/next'}"><i class="material-icons right">chevron_right</i>Siguiente</a>
                            </li>
                        </div>
                        <div th:if="${next == 1}">
                            <li>
                                <a th:href="${ '/particulares/previous'}"><i class="material-icons left">chevron_left</i>Anterior</a>
                            </li>
                            <li class="disabled">
                                <a th:href="${ '/particulares/next'}"><i class="material-icons right">chevron_right</i>Siguiente</a>
                            </li>
                        </div>
                        <div th:if="${next > 1 && prev != null}">
                            <li>
                                <a th:href="${ '/particulares/previous'}"><i class="material-icons left">chevron_left</i>Anterior</a>
                            </li>
                            <li>
                                <a th:href="${ '/particulares/next'}"><i class="material-icons right">chevron_right</i>Siguiente</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>