<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="es">

        <title>UNa Huella API - Particulares</title>

        <!--/*/ <th:block th:include="headers/headerinc :: head"></th:block> /*/-->

    </head>
    <body>
        <div class="container">

            <!--/*/ <th:block th:include="headers/navbarheader :: header"></th:block> /*/-->

            <div th:if="${pagina != null}">
                <h2>Particulares Registrados</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Numero de Documento</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Primer Apellido</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="particular : ${pagina}">
                        <td th:if="${particular != null}" th:text="${particular.id_particular}"><a href="/particular/${particular.id_particular}">Numero de Documento</a></td>
                        <td th:if="${particular != null}" th:text="${particular.getA_primer_nombre_particular()}">Primer Nombre</td>
                        <td th:if="${particular != null}" th:text="${particular.getE_segundo_nombre_particular()}">Segundo Nombre</td>
                        <td th:if="${particular != null}" th:text="${particular.getB_primer_apellido_particular()}">Primer Apellido</td>
                        <td th:if="${particular != null}" th:text="${particular.getF_segundo_apellido_particular()}">Segundo Apellido</td>
                        <td th:if="${particular != null}"><a th:href="${ '/particular/' + particular.id_particular}">View</a></td>
                        <td th:if="${particular != null}"><a th:href="${'/particular/edit/' + particular.id_particular}">Edit</a></td>
                        <td th:if="${particular != null}"><a th:href="${'/particular/delete/' + particular.id_particular}">Delete</a></td>
                    </tr>
                </table>
                <div>
                    <div th:if="${prev == null}">
                        <a th:href="${ '/particulares/next'}">Siguiente</a>
                    </div>
                    <div th:if="${next == 1}">
                        <a th:href="${ '/particulares/preview'}">Anterior</a>
                    </div>
                    <div th:if="${next > 1 && prev != null}">
                        <a th:href="${ '/particulares/preview'}">Anterior</a>
                        <a th:href="${ '/particulares/next'}">Siguiente</a>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>