<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Particular</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>

<body class="background-grey-1">
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->
<main>
    <div class="container top-padding-intermediate bottom-padding-intermediate">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel no-margin background-grey-2">
                    <h3 class="card-title center">Próximas jornadas</h3>
                    <div th:if="${proxJornada != null}">
                        <table class="responsive-table highlight centered">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Servicio</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="jornada : ${listaProxJornadas}">
                                <td th:if="${jornada != null}" th:text="${jornada.b_fecha_jornada}"></td>
                                <td th:if="${jornada != null}" th:text="${jornada.d_servicios}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


            <div class="col s12 m6">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="images/perritoygatito.jpg">
                            <div class="caption center-align">
                                <h5 class="center-align black-text">Cuidados para michis y perritus</h5>
                                <p class="black-text">Holi :3.</p>
                            </div>
                        </li>
                        <li>
                            <img src="images/perritos.png">
                            <div class="caption left-align">
                                <h5 class="center-align black-text">Perritos</h5>
                                <p class="black-text">Holi :3.</p>
                            </div>
                        </li>
                        <li>
                            <img src="images/perroygato.jpg">
                            <div class="caption right-align">
                                <h5 class="center-align black-text">Convivencia entre michis y perritus</h5>
                                <p class="black-text">Holi :3.</p>
                            </div>
                        </li>
                        <li>
                            <img src="images/gatitos.png">
                            <div class="caption">
                                <h5 class="center-align black-text">¡Mantén a tu mascota contenta con éstos
                                    consejos!</h5>
                                <p class="black-text">Holi :3.</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--<div class="carousel carousel-slider center">
                    <div class="carousel-item background-gatito black-text"  href="#one!">
                            <h2>First Panel</h2>
                            <p class="white-text">This is your first panel</p>
                    </div>

                    <div class="carousel-item amber white-text" href="#two!">
                        <h2>Second Panel</h2>
                        <p class="white-text">This is your second panel</p>
                    </div>
                    <div class="carousel-item green white-text" href="#three!">
                        <h2>Third Panel</h2>
                        <p class="white-text">This is your third panel</p>
                    </div>
                    <div class="carousel-item blue white-text" href="#four!">
                        <h2>Fourth Panel</h2>
                        <p class="white-text">This is your fourth panel</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

</main>
<!--/*/ <th:block th:include="headers/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>