<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNa Huella - Particular</title>
    <!--/*/ <th:block th:include="headers/headerfragment :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="headers/particularnavbar :: usernavbar"></th:block> /*/-->
<div class="container">
    <div class="row">
        <div class="col s12 no-padding">
            <div th:if="${particular != null}">
                <form class="card-panel no-margin background-grey-2">
                    <div class="row">
                        <div class="col s12">
                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="documento">Numero de Documento:</label>
                                    <i class="material-icons prefix">contact_mail</i>
                                    <input disabled value="" id="documento" type="text" class="validate"
                                           th:value="${particular.id_particular}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="primerNombre">Primer Nombre:</label>
                                    <i class="material-icons prefix">person</i>
                                    <input disabled value="" id="primerNombre" type="text" class="validate"
                                           th:value="${particular.getA_primer_nombre_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="segundoNombre">Segundo Nombre:</label>
                                    <i class="material-icons prefix">person_outline</i>
                                    <input disabled value="" id="segundoNombre" type="text" class="validate"
                                           th:value="${particular.getE_segundo_nombre_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="primerApellido">Primer Apellido:</label>
                                    <i class="material-icons prefix">person</i>
                                    <input disabled value="" id="primerApellido" type="text" class="validate"
                                           th:value="${particular.getB_primer_apellido_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="primerApellido">Segundo Apellido:</label>
                                    <i class="material-icons prefix">person_outline</i>
                                    <input disabled value="" id="segundoApellido" type="text" class="validate"
                                           th:value="${particular.getF_segundo_apellido_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="direccion">Dirección:</label>
                                    <i class="material-icons prefix">person_outline</i>
                                    <input disabled value="" id="direccion" type="text" class="validate"
                                           th:value="${particular.getC_direccion_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="telefono">Número de teléfono:</label>
                                    <i class="material-icons prefix">phone</i>
                                    <input disabled value="" id="telefono" type="text" class="validate"
                                           th:value="${particular.getD_telefono_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="email">e-mail:</label>
                                    <i class="material-icons prefix">email</i>
                                    <input disabled value="" id="email" type="text" class="validate"
                                           th:value="${particular.getG_correo_particular()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="cantMascotas"># Mascotas:</label>
                                    <i class="material-icons prefix">pets</i>
                                    <input disabled value="" id="cantMascotas" type="text" class="validate"
                                           th:value="${particular.getH_cantidad_mascotas_inscritas()}">
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label for="estrato">Estrato:</label>
                                    <i class="material-icons prefix">extension</i>
                                    <input disabled value="" id="estrato" type="text" class="validate"
                                           th:value="${particular.getI_estrato()}">
                                </div>
                            </div>

                            <div class="col s12 m6 top-margin right-align">
                                <a class="background-blue waves-effect waves-light btn-small">
                                    <i class="material-icons left">create</i>Editar datos</a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <div th:if="${particular == null}">
                <div class="row">
                    <div class="col s12 no-padding">
                        <div class="card-panel no-margin background-grey-2">
                            <div class="row">
                                <div class="col s4 offset-s4 m2 offset-m5">
                                    <img class="responsive-img" th:src="@{/images/catX.png}">
                                </div>
                            </div>
                            <h3 class="flow-text center-align"> Lo sentimos. No existen registros con ese
                                documento.</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="headers/scriptfragment :: scripts"></th:block> /*/-->
</body>
</html>